<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WinApi.Properties.Settings>
      <setting name="ApiLink" serializeAs="String">
        <value>https://devel.ccsipro.sk/sendmail/web/api/api_ccsipro3/v1/winapii/</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>asdfjkhafkshfdkjaskfhls1561561ds</value>
      </setting>
      <setting name="ObjecID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ProgramPath" serializeAs="String">
        <value>C:\Program Files (x86)\Wacom sign pro PDF\signpro.exe</value>
      </setting>
      <setting name="ProcessName" serializeAs="String">
        <value>Wacom sign pro PDF - D:\Appky\C#\WinApi\WinApi\bin\Debug{1}</value>
      </setting>
      <setting name="PusherKey" serializeAs="String">
        <value>31d14ddddef4c14b6ab5</value>
      </setting>
      <setting name="PusherAuthorizer" serializeAs="String">
        <value>http://192.168.33.10/pushe/</value>
      </setting>
      <setting name="PusherON" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="singTimeOut" serializeAs="String">
        <value>100</value>
      </setting>
    </WinApi.Properties.Settings>
  </userSettings>
</configuration>
